[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git

[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = git@github.com:dataCobra/hugo-vitae.git
